.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.brand {
  color: yellow;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}
