
.header {
    width: 100%;
    background-attachment: auto;
    backdrop-filter: blur(55px);
    background-color: transparent  ;
    position: fixed;
    border: 1px solid rgb(67, 62, 62);
    z-index: 3;
    
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    /* background-color: #333; */
   
    img{
        width: 30px;
        height: 30px;
    }
  }
  .Navbar_top{
    display: flex;
    align-items: center;
    gap: 10px;
    h2{
        color: white;
    }
  }
  .logo {
    height: 40px;
  }
  
  .hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none; /* Kompyuterda ko'rinmaydi, faqat kichik ekranda */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .hamburger {
    display: block;
    color: white;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 110px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    display: none;
    z-index: 3;
  }

  .nav-links.open {
    display: flex;
  }
  /* Responsiv holat (mobil uchun) */
  @media (max-width: 768px) {
   
  }
  